@import 'tailwindcss';

@theme {
  --color-primary: #13ecec;
  --color-background-light: #f6f8f8;
  --color-background-dark: #102222;
  --color-charcoal: #111818;
  --color-slate-card: #1c2727;
  --color-border-muted: #3b5454;

  --font-display: 'Manrope', sans-serif;
}

@variant dark (&:where(.dark, .dark *));

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
